.addeduserList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    transition: all 0.3s ease-in-out;
    height: 65vh !important;
    opacity: 1;
    width: 100%;
    padding-bottom: 0.5rem;
    overflow-y: scroll !important;
    .users {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap: 0rem;
        color: var(--primary-light);
        background-color: var(--secondary);
        padding: 0.5rem;
        outline: 0.175rem solid transparent;
        border-radius: 0.5rem;
        font-family: 'Poppins', sans-serif;
        transition: all 0.3s ease;
        border: 0.1rem solid transparent;
        cursor: pointer;
        width: 95%;
        position: relative;
        .adminSymbol {
            position: absolute;
            top: 0.35rem;
            left: 92%;
            width: 0.65rem;
            height: 0.65rem;
        }
        .infoContainer {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            background-color: transparent;
            padding-bottom: 0rem;
            width: 100%;
            .profilePic {
                border-radius: 50%;
                width: 1.75rem;
                height: 1.75rem;
            }
            .details {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 0.25rem;
                .name {
                    font-size: 0.85rem;
                }
                .email {
                    font-size: 0.6rem;
                    color: var(--primary-light);
                }
            }
        }
        .modal {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem;
            box-shadow: 0 0 0.35rem 0rem var(--primary-grey);
            border-radius: 0.5rem;
            background-color: var(--primary-light);
            width: 100%;
            height: auto;
            outline: 0.05rem solid rgba(0,0,0,0.25);
            cursor: default;
            span {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                gap: 0.5rem;
                background-color: transparent;
                width: 10rem;
                height: auto;
                label {
                    font-family: 'Poppins', sans-serif;
                    font-size: 0.75rem;
                    color: var(--primary-dark);
                }
                input {
                    cursor: pointer;
                }
            }
            .doneBtn {
                font-size: 0.85rem;
                font-family: 'Poppins', sans-serif;
                padding: 0.15rem 1rem;
                background-color: var(--primary);
                outline: none;
                border: none;
                color: var(--primary-light);
                border-radius: 0.35rem;
                margin-top: 0.75rem;
                cursor: pointer;
            }
        }
    }
}